/* Test Test Test */
body {
    /* background: lightblue; */
    width: auto;
    height: auto;
    overflow: auto;
}

/* Header */
header {
	display: block;
	margin: 0;
	border: 2px solid darkslategray;
	height: 10vh;
	border-bottom-left-radius: 5vw;
	border-bottom-right-radius: 5vw;
	padding: 20px;
	text-align: center;
}

.color_restn {
	color: lightgray;
}

.color_dotio {
	color: lightblue;
}