/* Test Test Test */
body {
    /* background: lightblue; */
    width: auto;
    height: auto;
    overflow: auto;
}

/* Header */
header {
	display: block;
	margin: 0;
	border: 2px solid darkslategray;
	height: 13vh;
	border-bottom-left-radius: 3vw;
	border-bottom-right-radius: 3vw;
	padding: 0;
	text-align: center;
	background:
	  /* On "top" */
	  repeating-linear-gradient(
	    45deg,
	    transparent,
	    transparent 10px,
	    blue 10px,
	    #ccc 20px
	  ),
	  /* on "bottom" */
	  linear-gradient(
	    to bottom,
	    #eee,
	    #999
	  );
}

header img {
	display: inline-block;
	max-width: 20vw;
}

header span {
	display: inline-block;
	vertical-align: middle;
}

.color_restn {
	color: lightgray;
}

.color_dotio {
	color: lightblue;
}